name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: ha-clim-card.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
